@page "/transactions"
    

@inject TransactionService TransactionService

<h3>Історія операцій</h3>

@if (transactions == null)
{
    <p><em>Завантаження...</em></p>
}
else if (!transactions.Any())
{
    <p>Операцій поки немає.</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Тип</th>
                <th>Товар</th>
                <th>Кількість</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactions)
            {
                <tr>
                    <td>@transaction.Date.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@(transaction.Type == TransactionType.Incoming ? "Прихід" : "Витрата")</td>
                    <td>@transaction.Product?.Name</td>
                    <td>@transaction.Quantity</td>
                    @* <td>@transaction.Price</td> *@
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Transaction>? transactions;

    protected override async Task OnInitializedAsync()
    {
        await LoadTransactions();
    }

    private async Task LoadTransactions()
    {
        transactions = await TransactionService.GetAllTransactionsAsync();
    }
}
